.meus_dados {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 1000px;
    height: 3600px;
    border-left: 28px solid white;
    border-right: 28px solid white;
}

#meus_dados {
    padding-top: 30px;
}

